{% extends 'records/base.html' %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/css/record.css">
<link rel="stylesheet" type="text/css" media="print" href="/static/css/print.css">
{% endblock %}


{% block topnav %}
<a role="button" type="submit" class="btn btn-primary" href="{% url 'agreements_list' agreement.patient_id %}"><span class="glyphicon glyphicon-arrow-left"></span> К договорам пациента</a>
{{ block.super }}
{% endblock %}


{% block content %}
<div class="text-justify agreemtnt-detail-wrapper">

    <p class="text-center">Договор №<span class="underline">{{ agreement.get_number }}</span></p>
    <p class="text-center">на оказание платных консультационных медицинских услуг</p>

    <p>г. Ростов-на-Дону <span class="fr">«{{ agreement.date.day }}» <span class="underline">{{ agreement.date|date:"M" }}</span> {{ agreement.date.year }} г.</span></p>

    <p class="text-justify">
    Общество с ограниченной ответственностью «ИнтерМед-Юг», свидетельство о постановке на учет в налоговом органе серия 61 
    № 002330027 от «25» января 2007 г (выдано ИФНС по Ленинскому району г. Ростов-на-Дону)., действующее в соответствии с Уставом и лицензией № ЛО-61-01-004183 от 10.03.2015 г. (выдана Министерством Здравоохранения Ростовской области, адрес: ул. 1-ой Конной Армии, 33, тел: 242-41-09)
    в лице генерального директора Бутко Владимира Владимировича, действующего на основании Устава, в дальнейшем «Исполнитель» с одной стороны,
    и <span class="underline">{{ agreement.customer }}</span> в дальнейшем «Заказчик», действующий в интересах <span class="underline">{{ agreement.consumer }}</span>,
    в дальнейшем «Потребитель», с другой стороны, совместно именуемые «Стороны», по отдельности «Сторона»,
    заключили настоящий Договор (далее – «Договор») о нижеследующем:
    </p>

    <p class="text-center">1. ПРЕДМЕТ ДОГОВОРА.</p>

    <p class="text-justify">1.1. Исполнитель оказывает Потребителю (Заказчику) медицинскую услугу в форме медицинской консультации</p>
    <p class="text-justify">_______________________________________ (далее по тексту – «Услуга»), а Потребитель (Заказчик) обязуется Услугу оплатить.</p>
    <p class="text-justify">1.2. Заказчик (Потребитель) обязуется выполнять требования Исполнителя, обеспечивающие качественное предоставление Услуги, а также своевременно оплачивать оказываемые услуги.</p>

    <p class="text-justify">1.3.
        Перечень работ и услуг в соответствии с лицензией № ЛО-61- 01-004183 от 10.03.2015г:<br>

        При оказании первичной, в том числе доврачебной, врачебной и специализированной, медико-санитарной помощи организуются и выполняются следующие работы (услуги): при оказании первичное доврачебной медико-санитарной помощи в амбулаторных условиях по: лечебной физкультуре, медицинскому массажу, физиотерапии; при оказании первичной специализированной медико-санитарной помощи в амбулаторных условиях по: медицинской реабилитации, неврологии, организации здравоохранения и общественному здоровью, травматологии и ортопедии.
    </p>

    <p class="text-center">2. УСЛОВИЯ, ПОРЯДОК и СРОКИ ОКАЗАНИЯ УСЛУГ</p>

    <p>2.1. Предоставление Услуги по настоящему Договору происходит в порядке предварительной записи Потребителя на прием.</p>
    <p>2.2. Стоимость Услуги, предоставляемой Потребителю, указанной в п.1.1 Договора составляет <span class="underline">{{ agreement.price }}</span> ({{ agreement.price_words }}) рублей за одну консультацию.</p>
    <p>2.3 Срок предоставления услуг по настоящему договору с «____» ____________20__г. по «____» ______________20__г</p>

    <p class="text-center">3. ПОРЯДОК РАСЧЕТОВ</p>
    <p>3.1. Оплата Услуг осуществляется Потребителем (Заказчиком) в порядке 100% предоплаты в день оказания Услуги путем внесения наличных денежных средств в кассу Исполнителя  или по безналичному расчету путем перечисления денежных средств на расчетный счет Исполнителя в соответствии с выставленным счетом.

    При этом обязательства потребителя перед исполнителем по оплате услуг считаются исполненными в размере внесенных денежных средств с момента внесения наличных денежных средств соответственно продавцу исполнителю, либо в кредитную организацию, либо платежному агенту, осуществляющему деятельность по приему платежей физических лиц, либо банковскому платежному агенту (субагенту), осуществляющему деятельность в соответствии с законодательством о банках и банковской деятельности».</p>

    <p class="text-center">4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</p>

    <p>4.1. Исполнитель принимает на себя обязанность оказать Услугу, указанную в подпункте 1.1. Договора в форме, объемах и сроках, согласованных сторонами в Договоре.</p>
    <p>4.2. Заказчик (Потребитель) обязуется строго соблюдать рекомендации Исполнителя в лице его компетентных специалистов, предоставлять полную информацию о состоянии здоровья Потребителя, выписки и справки других специалистов (по требованию лечащего врача).</p>
    <p>4.3. Заказчик обязуется своевременно информировать Исполнителя о любых обстоятельствах, препятствующих оказанию Услуги или исполнению иных обязательств по настоящему Договору.</p>

    <p class="text-center">5. ОТВЕТСТВЕННОСТЬ СТОРОН</p>

    <p>5.1. Исполнитель несет ответственность в размере реального ущерба, причиненного Потребителю неисполнением или ненадлежащим исполнением условий настоящего Договора, а также в случае причинения вреда здоровью и жизни Потребителя в соответствии с законодательством РФ. </p>
    <p>5.2. Потребитель извещен о том, что несоблюдение указаний (рекомендаций) Исполнителя (медицинского работника, предоставляющего платную медицинскую услугу), в том числе назначенного режима лечения, могут снизить качество предоставляемой платной медицинской услуги, повлечь за собой невозможность ее завершения в срок или отрицательно сказаться на состоянии здоровья потребителя.</p>
    <p>Исполнитель не несет ответственности за последствия оказания Услуги в случаях несоблюдения Потребителем рекомендаций по лечению и иных неправомерных действий Потребителя (Заказчика). </p>

    <p class="text-center">6. РАЗРЕШЕНИЕ СПОРОВ</p>
    <p>6.1. Все споры, вытекающие из настоящего Договора, разрешаются сторонами путем переговоров или в судебном порядке в соответствии с законодательством РФ</p>

    <p class="text-center">7. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</p>
    <p>7.1. Вся информация об Исполнителе (наименование, юридический адрес, сведения о лицензии на осуществление медицинской деятельности), а также перечень платных медицинских услуг с указанием цен в рублях, сведения об условиях, порядке, форме предоставления медицинских услуг и порядке их оплаты, сведения о медицинских работниках, участвующих в предоставлении платных медицинских услуг, об уровне их профессионального образования и квалификации; режим работы медицинской организации, график работы медицинских работников, участвующих в предоставлении платных медицинских услуг; адреса и телефоны органа исполнительной власти субъекта Российской Федерации в сфере охраны здоровья граждан, территориального органа Федеральной службы по надзору в сфере здравоохранения и территориального органа Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека, размещена на информационных стендах Исполнителя в общедоступном месте.</p>
    <p>7.2. Настоящий Договор вступает в силу с момента его подписания сторонами и действует в течение 1 года, но не позднее дня оказания Услуги, указанной в пп. 1.1. Договора.</p>
    <p>7.3 Потребитель (Заказчик) вправе расторгнуть настоящий Договор, оплатив Исполнителю фактически понесенные расходы.</p>
    <p>7.4 Все изменения и дополнения к настоящему договору совершаются по соглашению сторон в письменной форме.</p>

    <table>
        <tr>
            <td class="contacts">
                Медицинская организация:<br>
                ООО «ИнтерМед-Юг»<br>
                ИНН 6164260538, КПП  616401001<br>
                Юр. адрес: 344000, Ростовская обл,<br>
                г.Ростов-на-Дону, пер.Гвардейский, 7<br>
                Тел.: 8(8632)303-21-01  <br>
                Р/с:  40702810900000011251 в ОАО КБ «Центр-Инвест»<br>
                К/с:  30101810100000000762<br>
                БИК 046015762 , ОКПО 97817311<br>
                Генеральный Директор<br>
                ______________________Бутко В.В.<br>
                Приказ на право подписи №15 от 01.07.2015 года.
            </td>
            <td class="contacts" style="vertical-align: top">
                <div>Заказчик:</div>
                <div>___________________/<span class="underline">{{ agreement.customer }}</span></div>
                <div style="font-size: 12px;">
                    <span style="display:inline-block; width :140px">(подпись)</span>
                    <span style="display:inline-block; width :140px">(ФИО)</span>
                </div> 

                <br>

                <div>Потребитель:</div>
                <div>___________________/<span class="underline">{{ agreement.consumer }}</span></div>
                <div style="font-size: 12px;">
                    <span style="display:inline-block; width :140px">(подпись)</span>
                    <span style="display:inline-block; width :140px">(ФИО)</span>
                </div>

                <div>{{ agreement.document }}</div>

                <div>Адрес: <span class="underline">{{ agreement.address }}</span></div>
                <div>Телефон: <span class="underline">{{ agreement.phone }}</span></div>

                <br />

                <div>«<span class="underline">{{ agreement.date.day }}</span>» <span class="underline">{{ agreement.date|date:"N" }} {{ agreement.date.year }}</span>г. услугу получил, претензий не имею</div>

                <div>___________________/___________________</div>
                <div style="font-size: 12px;">
                    <span style="display:inline-block; width :140px">(подпись)</span>
                    <span style="display:inline-block; width :140px">(расшифровка подписи)</span>
                </div> 

            </td>
        </tr>
    </table>

</div>

{% endblock %}