{% extends 'records/base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <h1>Новый договор для пациента <small>"{{ patient }}" <span class="glyphicon glyphicon-user status status-{{patient.status}}-active"></span></small></h1>

            <a href="{% url 'agreements_list' patient.id %}" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span> Договора пациента
            </a>

        </div>
    </div>

    <form method="POST" action="?" class="form">
        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "ok" %} Создать
            </button>
        {% endbuttons %}

    </form>

{% endblock %}