{% extends 'records/base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1><small>Новая запись в карточку пациента</small> "{{ patient }}"</h1>
            <a href="{% url 'records_list' patient.id %}" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span> К записям пациента
            </a>
            <a href="{% url 'create_attachments' patient.id %}" type="button" class="btn btn-primary">
                Файлы <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <form method="POST" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "ok" %} Сохранить
                    </button>
                {% endbuttons %}
            </form>

        </div>
    </div>
{% endblock %}
