{% extends 'records/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">

        <a href="{% url 'patient_list' %}" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-arrow-left"></span> К списку пациентов
        </a>

        <div class="col-md-12">

            <form method="POST" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "ok" %} Сохранить
                    </button>
                {% endbuttons %}
            </form>

        </div>
    </div>
{% endblock %}