{% extends 'records/base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>
                <small>Запись в карточку пациента</small>
                "{{ patient }}"
                <small><span class="glyphicon glyphicon-user status status-{{patient.status}}-active"></span></small>
            </h1>
            <a href="{% url 'records_list' patient.id %}" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span> К записям пациента
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-md=12">
                <div role="tabpanel" data-ng-controller="RecordCtrl"
                     data-ng-init="record.patient={{ patient.id }}; record.doctor={{ request.user.id }}; record.next_visit_date='{{ next_visit_date }}'; load({{ record.id }}); options={{ templates }}; currentTemplate={{ template_id }}">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-record" role="tablist">
                        <li role="presentation" class="active"><a href="#complaints" aria-controls="complaints" role="tab" data-toggle="tab">Жалобы</a></li>
                        <li role="presentation"><a href="#treatment" aria-controls="treatment" role="tab" data-toggle="tab">Лечение</a></li>
                        <li role="presentation"><a href="#files" aria-controls="files" role="tab" data-toggle="tab">Файлы</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <form class="form" data-load-spinner data-loading="loading_record">
                        <div class="tab-content">
                            {% csrf_token %}
                            <div role="tabpanel" class="tab-pane active" id="complaints">

                                <div class="form-group">
                                    <label class="control-label" for="{{ form.complaints.id_for_label }}">Жалобы</label>
                                    <textarea class="form-control" cols="40" id="{{ form.complaints.id_for_label }}"
                                              name="{{ form.complaints.html_name }}" placeholder="Жалобы" rows="5"
                                              title="" data-ng-model="record.{{ form.complaints.html_name }}"></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="{{ form.objective_status.id_for_label }}">Объективный статус</label>
                                    <textarea class="form-control" cols="40" id="{{ form.objective_status.id_for_label }}"
                                              name="{{ form.objective_status.html_name }}" placeholder="Объективный статус" 
                                              rows="5" title="" data-ng-model="record.{{ form.objective_status.html_name }}"></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="{{ form.local_status.id_for_label }}">Локальный статус</label>
                                    <textarea class="form-control" cols="40" id="{{ form.local_status.id_for_label }}"
                                              name="{{ form.local_status.html_name }}" placeholder="Локальный статус"
                                              rows="2" title="" data-ng-model="record.{{ form.local_status.html_name }}"></textarea>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label">Шаблон</label>
                                <select class="form-control"
                                        data-ng-model="template.selected"
                                        data-ng-options="opt as opt.label for opt in options"
                                        data-ng-change="templateChange()">
                                </select>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="treatment">
                                <!--{% bootstrap_field form.diagnosis %}-->
                                <div class="form-group">
                                    <label class="control-label" for="{{ form.diagnosis.id_for_label }}">Диагноз</label>
                                    <textarea class="form-control" cols="40" id="{{ form.diagnosis.id_for_label }}" 
                                              name="{{ form.diagnosis.html_name }}" placeholder="Диагноз"
                                              rows="5" title="" data-ng-model="record.diagnosis"></textarea>
                                </div>
                                
                                <!--{% bootstrap_field form.recommendations %}-->
                                <div class="form-group">
                                    <label class="control-label" for="{{ form.recommendations.id_for_label }}">Рекомендации</label>
                                    <textarea class="form-control" cols="40" id="{{ form.recommendations.id_for_label }}"
                                              name="recommendations" placeholder="Рекомендации"
                                              rows="10" title="" data-ng-model="record.recommendations"></textarea></div>

                                <!--{% bootstrap_field form.next_visit_date %}-->
                                <div class="form-group">
                                    <label class="control-label" for="{{ form.next_visit_date.id_for_label }}">Рекомендуемая дата посещения</label>
                                    <input class="form-control" id="{{ form.next_visit_date.id_for_label }}"
                                           name="next_visit_date" placeholder="Рекомендуемая дата посещения"
                                           title="" type="text" data-ng-model="record.{{ form.next_visit_date.html_name }}">
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="files" data-load-spinner data-loading="load_attachments">
                                <div class="row">

                                    <div class="col-md-4">
                                        <!--<h3>Планограмма</h3>-->
                                        <div data-file-manager data-record="record" 
                                             data-attachments="planogramm_attachments"
                                             data-patient="{{ patient.id }}"
                                             data-attachment-type="AttachmentType.planogramm"
                                             data-title="Планограмма"></div>

                                    </div>

                                    <div class="col-md-4">
                                        <!--<h3>Топограмма</h3>-->
                                        <div data-file-manager data-record="record" 
                                             data-attachments="topogramm_attachments"
                                             data-patient="{{ patient.id }}"
                                             data-attachment-type="AttachmentType.topogramm"
                                             data-title="Топограмма"></div>
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <!--<h3>R-снимки</h3>-->
                                        <div data-file-manager data-record="record" 
                                             data-attachments="R_attachments"
                                             data-patient="{{ patient.id }}"
                                             data-attachment-type="AttachmentType.R"
                                             data-title="R-снимки"></div>
                                    </div>
                                </div>

                            </div>
                            {% buttons %}
                                <button type="submit" class="btn btn-primary" data-ng-click="save()">
                                    <span class="glyphicon" aria-hidden="true"
                                          data-ng-class="{'glyphicon-ok': !save_record, 'glyphicon-cog spinning': save_record}"></span>
                                          Сохранить
                                </button>
                            {% endbuttons %}
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
