{% extends 'records/base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Редактирование пациента</h1>

            <a href="{% url 'patient_list' %}" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span> К списку пациентов
            </a>

        </div>
    </div>

    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-md=12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#main_info" aria-controls="main_info" role="tab" data-toggle="tab">Общая информация</a></li>
                        <li role="presentation"><a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Контактная информация</a></li>
                        <li role="presentation"><a href="#passport" aria-controls="passport" role="tab" data-toggle="tab">Паспорт</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <form method="POST" action="?" class="form">
                        <div class="tab-content">
                            {% csrf_token %}
                            <div role="tabpanel" class="tab-pane active" id="main_info">
                                {% bootstrap_field form.surname %}
                                {% bootstrap_field form.first_name %}
                                {% bootstrap_field form.father_name %}
                                {% bootstrap_field form.birth_day %}
                                {% bootstrap_field form.gender %}
                                <!--{% bootstrap_field form.status %}-->
                                <div class="form-group" data-ng-controller="StatusCtrl" data-ng-init="init('{{ form.status.value }}')">
                                    <label class="control-label">Статус</label><br />

                                    <span class="glyphicon glyphicon-user status status-green" 
                                          aria-hidden="true"
                                          data-ng-click="setStatus('green')"
                                          data-ng-class="{'status-green-active': isActive('green')}"></span>

                                    <span class="glyphicon glyphicon-user status status-yellow"
                                          aria-hidden="true"
                                          data-ng-click="setStatus('yellow')"
                                          data-ng-class="{'status-yellow-active': isActive('yellow')}"></span>

                                    <span class="glyphicon glyphicon-user status status-red" 
                                          aria-hidden="true"
                                          data-ng-click="setStatus('red')"
                                          data-ng-class="{'status-red-active': isActive('red')}"></span>

                                    <input name="{{ form.status.html_name }}" type="hidden" data-ng-value="status" />
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="contacts">
                                {% bootstrap_field form.phone_home %}
                                {% bootstrap_field form.phone_mobile %}
                                {% bootstrap_field form.email %}
                                {% bootstrap_field form.organization %}
                                {% bootstrap_field form.address %}
                                {% bootstrap_field form.allow_contacts %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="passport">
                                {% bootstrap_field form.passport_seria %}
                                {% bootstrap_field form.passport_number %}
                                {% bootstrap_field form.passport_issued_by %}
                                <hr />
                                {% bootstrap_field form.birth_cert_number %}
                            </div>

                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    {% bootstrap_icon "ok" %} Сохранить
                                </button>
                            {% endbuttons %}

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
