{% extends 'records/base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>
                <small>Запись в карточку пациента</small>
                "{{ patient }}"
                <small><span class="glyphicon glyphicon-user status status-{{patient.status}}-active"></span></small>
            </h1>
            <a href="{% url 'records_list' patient.id %}" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span> К записям пациента
            </a>
        </div>
    </div>
    
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-md=12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#complaints" aria-controls="complaints" role="tab" data-toggle="tab">Жалобы</a></li>
                        <li role="presentation"><a href="#treatment" aria-controls="treatment" role="tab" data-toggle="tab">Лечение</a></li>
                        <li role="presentation"><a href="#files" aria-controls="files" role="tab" data-toggle="tab">Файлы</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <form method="POST" class="form">
                        <div class="tab-content">
                            {% csrf_token %}
                            <div role="tabpanel" class="tab-pane active" id="complaints">
                                {% bootstrap_field form.complaints %}
                                {% bootstrap_field form.objective_status %}
                                {% bootstrap_field form.local_status %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="treatment">
                                {% bootstrap_field form.diagnosis %}
                                {% bootstrap_field form.recommendations %}
                                {% bootstrap_field form.next_visit_date %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="files">
                                <h1>Здесь будет управление файлами</h1>
                            </div>
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    {% bootstrap_icon "ok" %} Сохранить
                                </button>
                            {% endbuttons %}
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
