{% extends 'records/base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <h1>Новый договор для пациента <small>"{{ patient }}" <span class="glyphicon glyphicon-user status status-{{patient.status}}-active"></span></small></h1>

            <a href="{% url 'physio_agreements_list' patient.id %}" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span> Договора пациента
            </a>

        </div>
    </div>

    <form method="POST" action="?" class="form">
        {% csrf_token %}

        <div class="form-group">
            <label class="control-label" for="{{ form.price.id_for_label }}">Сумма</label>
            <input class="form-control" id="{{ form.price.id_for_label }}" name="{{ form.price.html_name }}" placeholder="Сумма" required="required" title="" type="number">
        </div>

        <div class="form-group">
            <label class="control-label" for="{{ form.id_for_label }}">Сумма прописью</label>
            <input class="form-control" id="{{ form.id_for_price_words }}" maxlength="128" name="{{ form.price_words.html_name }}" placeholder="Сумма прописью" required="required" title="" type="text">
        </div>

        <div class="form-group">
            <label class="control-label" for="{{ form.customer.id_for_label }}">Заказчик</label>
            <input class="form-control" id="{{ form.customer.id_for_label }}" maxlength="128" name="{{ form.customer.html_name }}" placeholder="Заказчик" required="required" title="" type="text">
        </div>

        <div class="form-group">
            <label class="control-label" for="{{ form.consumer.id_for_label }}">Потребитель</label>
            <input class="form-control" id="{{ form.consumer.id_for_label }}" maxlength="128" name="{{ form.consumer.html_name }}" placeholder="Потребитель" required="required" title="" type="text" value="{{ patient }}">
        </div>

        {% bootstrap_field form.massage %}
        {% bootstrap_field form.physical %}

        {% bootstrap_field form.num_of_courses %}
        {% bootstrap_field form.num_of_procedures %}
        
        {% bootstrap_field form.procedure_price %}
        {% bootstrap_field form.price %}
        {% bootstrap_field form.price_words %}

        <div class="form-group">
            <label class="control-label" for="{{ form.document.id_for_label }}">Пасспорт (иной документа)</label>
            <textarea class="form-control" id="{{ form.document.id_for_label }}" maxlength="128" name="{{ form.document.html_name }}" placeholder="Пасспорт (иной документа)" required="required" title="">
{% if patient.has_passport %}Паспорт серия {{ patient.passport_seria }} № {{ patient.passport_number}} Выдан {{ patient.passport_issued_by }}
{% else %}Свидетельство о рождении номер {{ patient.birth_cert_number }}
{% endif %}
            </textarea>
        </div>

        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "ok" %} Создать
            </button>
        {% endbuttons %}

    </form>

{% endblock %}