{% extends 'records/base.html' %}

{% block content %}

<h1 style="text-align: center">Договор №____</h1>

на оказание платных консультационных медицинских услуг 

г. Ростов-на-Дону «___»_________2014г.

Общество с ограниченной ответственностью «ИнтерМед-Юг», свидетельство о постановке на учет в налоговом органе серия   61 

 № 002330027 от «25» января 2007 г., действующее в соответствии с Уставом и лицензией  №  ЛО-61-01-002439  от 19.09.2012 г., в лице 

генерального директора Бутко Владимира Владимировича, действующего на основании Устава, в дальнейшем «Исполнитель» с одной стороны, и 

_____________________________________________________________________ в дальнейшем «Заказчик», действующий в интересах 

____________________________________________________________________, в дальнейшем «Потребитель», с другой стороны, совместно 

именуемые «Стороны», по отдельности «Сторона», заключили настоящий Договор (далее – «Договор») о нижеследующем:

1.1. Исполнитель оказывает Потребителю (Заказчику) медицинскую услугу в форме медицинской консультации (далее по тексту – 

«Услуга»), а Потребитель (Заказчик) обязуется Услугу оплатить.

1.2. Заказчик (Потребитель) обязуется выполнять требования Исполнителя, обеспечивающие качественное предоставление Услуги, а также 

2.1. Предоставление Услуги по настоящему Договору происходит в порядке предварительной записи Потребителя на прием.

2.2. Стоимость Услуги, предоставляемой Потребителю, указанной в п.1.1 Договора составляет _________ (                         ) рублей за одну 

2.3. После оплаты Услуги Заказчик (Потребитель) может обратиться за ее получением в течение одного года с момента ее оплаты. 

В случае если Заказчик (Потребитель) не обратится за получением Услуги в течение одного года, Договор считается расторгнутым, а 

полученные Исполнителем в качестве оплаты по Договору денежные средства подлежат возврату Заказчику (Потребителю). В этом 

3.1. Оплата Услуг осуществляется Потребителем (Заказчиком) в порядке 100% предоплаты в день оказания Услуги путем внесения 

наличных денежных средств в кассу Исполнителя  или по безналичному расчету путем перечисления денежных средств на расчетный 

счет Исполнителя в соответствии с выставленным счетом. 

4.1. Исполнитель принимает на себя обязанность оказать Услугу, указанную в подпункте 1.1. Договора в форме, объемах и сроках, 

4.2. Заказчик (Потребитель) обязуется строго соблюдать рекомендации Исполнителя в лице его компетентных специалистов, предоставлять 

полную информацию о состоянии здоровья Потребителя, выписки и справки других специалистов (по требованию лечащего врача).

4.3. Заказчик обязуется своевременно информировать Исполнителя о любых обстоятельствах, препятствующих оказанию Услуги или 

исполнению иных обязательств по настоящему Договору.          

5.1. Исполнитель несет ответственность в размере реального ущерба, причиненного Потребителю неисполнением или ненадлежащим 

исполнением условий настоящего Договора, а также в случае причинения вреда здоровью и жизни Потребителя в соответствии с 

5.2. Потребитель извещен о том, что несоблюдение указаний (рекомендаций) Исполнителя (медицинского работника, предоставляющего 

платную медицинскую услугу), в том числе назначенного режима лечения, могут снизить качество предоставляемой платной 

медицинской услуги, повлечь за собой невозможность ее завершения в срок или отрицательно сказаться на состоянии здоровья 

 Исполнитель не несет ответственности за последствия оказания Услуги в случаях несоблюдения Потребителем рекомендаций по 

лечению и иных неправомерных действий Потребителя (Заказчика). 

6.1. Все споры, вытекающие из настоящего Договора, разрешаются сторонами путем переговоров. 

6.2. Сторона, считающая, что ее права по настоящему Договору нарушены, должна направить другой стороне письмо с изложением своих 

претензий. Сторона, получившая претензию, обязана направить мотивированный ответ в срок до 30 календарных дней с момента 

получения претензии. В случае неполучения ответа в указанный срок, сторона, пославшая претензию, может обратиться в суд за 

6.3. Если у Потребителя (Заказчика)  есть претензии к Исполнителю, не урегулированные в досудебном порядке, Потребитель (Заказчик) 

вправе обратиться с иском в суд в соответствии с законом, в т.ч. в суд по месту своего жительства.

6.4. Если претензии к Потребителю (Заказчику) возникнут у Исполнителя, Исполнитель вправе обратиться за разрешением спора в суд по 

месту нахождения (юридическому адресу) Исполнителя. 

7.1. Вся информация об Исполнителе (наименование, юридический адрес, сведения о лицензии на осуществление медицинской 

деятельности), а также перечень платных медицинских услуг с указанием цен в рублях, сведения об условиях, порядке, форме 

предоставления медицинских услуг и порядке их оплаты, сведения о медицинских работниках, участвующих в предоставлении платных 

медицинских услуг, об уровне их профессионального образования и квалификации; режим работы медицинской организации, график 

работы медицинских работников, участвующих в предоставлении платных медицинских услуг; адреса и телефоны органа 

исполнительной власти субъекта Российской Федерации в сфере охраны здоровья граждан, территориального органа Федеральной 

службы по надзору в сфере здравоохранения и территориального органа Федеральной службы по надзору в сфере защиты прав 

потребителей и благополучия человека, размещена на информационных стендах Исполнителя в общедоступном месте.

7.2. Настоящий Договор вступает в силу с момента его подписания сторонами и действует в течение 1 года, но не позднее дня оказания 

7.3. Настоящий Договор может быть расторгнут по инициативе любой из сторон с обязательным предварительным уведомлением другой 

1. ПРЕДМЕТ ДОГОВОРА.

2. УСЛОВИЯ, ПОРЯДОК и СРОКИ ОКАЗАНИЯ УСЛУГ

3. ПОРЯДОК РАСЧЕТОВ

4. ПРАВА И ОБЯЗАННОСТИ СТОРОН

5. ОТВЕТСТВЕННОСТЬ СТОРОН

6. РАЗРЕШЕНИЕ СПОРОВ

7. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ

Заказчик:

{% endblock %}

{% block js %}
    <script>
        jQuery(document).ready(function(){
            window.print()
        });
    </script>
{% endblock %}