{% extends 'records/base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <a href="{% url 'template_list' %}" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span> К списку шаблонов
            </a>

            <h1>Редактирование шаблона</h1>
            <form method="POST" action="?">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.name.label_for_name }}">Название</label>
                    <input type="text" class="form-control" id="{{ form.name.label_for_name }}" placeholder="Название" value="{{ form.name.value }}" name="{{ form.name.html_name }}">
                </div>

                <div class="form-group">
                    <label for="{{ form.content.id_for_label }}">Контент</label>
                    <textarea class="form-control" rows="15" name="{{ form.content.html_name }}">{{ form.content.value }}</textarea>
                </div>

                <button type="submit" class="btn btn-default">Сохранить</button></button>
            </form>
        </div>
    </div>

{% endblock %}