

div.container-main {
    display: block;
}

img.record-detail-attach {
    display: block;
    width: 210mm;
    padding: 20px 0;
}

.container-main {
    margin: -20px;
}

.container-main  {
    padding: 10mm!important;
    font-size: 8px;
}

.agreemtnt-detail-wrapper {
    margin-top: -50px;
}