body {
    background: #aaa;
}

div.container-main {
    background: #fff;
    color: #000;
    width: 210mm;
    padding: 20mm
}

img.record-detail-attach {
    margin: 10px 0px;
    padding: 0;
    width: 175mm;
}

h1 {
    margin-bottom: 40px;
}

.underline {
    text-decoration: underline;
}

.fr {
    float: right;
}


.container-main  {
    padding: 10mm!important;
    font-size: 13px;
}


td.contacts {
    border: 1px solid black;
    padding: 10px;

}
