body {
    background: #aaa;
}

div.container-main {
    background: #fff;
    color: #000;
    width: 210mm;
    padding: 20mm
}

img.record-detail-attach {
    margin: 10px 0px;
    padding: 0;
    width: 175mm;
}

h1 {
    margin-bottom: 40px;
}