body {
  padding-top: 50px;
}

.container-main {
    margin-top: 20px;
}

span.info {
    text-decoration: underline;
    font-size: 16px;
}

span.status {
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
}

span.status-red {
    color: #d9534f;
}

span.status-green {
    color: #5cb85c;
}

span.status-yellow {
    color: #f0ad4e;
}


span.status-red:hover, span.status-red-active {
    color: #fff;
    background-color: #d9534f;
}

span.status-green:hover, span.status-green-active {
    color: #fff;
    background-color: #5cb85c;
}

span.status-yellow:hover, span.status-yellow-active {
    color: #fff;
    background-color: #f0ad4e;
}

ul.tabs-record {
    margin-bottom: 20px;
}

img.record-detail-attach {
    display: inline-block;
    width: 280px;
    margin: 10px;
}

span.mailing-yes {
    font-size: 16px;
    color: #3c763d;
}

span.mailing-no {
    font-size: 16px;
    color: #d9534f;
}

.btn-username {
    color: #eee!important;
}
.btn-username:hover {
    color: #eee!important;
}

.loading-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/ajax-loader.gif") no-repeat center rgba(255,255,255,0.5);
    z-index: 100;
}

.loading-spinner-parent {
    position: relative;
}


.glyphicon.spinning {
    animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}